<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User Time Zone:</strong>
  <%= @user.time_zone %>
</p>
<p>
  <strong>Show tasks due TODAY</strong>
  <%= link_to 'Tasks Due Today', user_path(@user, today: 'Yes')%> | <%= link_to 'Show All Tasks', @user%> 
</p>
<p>
  <strong>Task Schedules</strong>
  <table>
      <thead>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Due Date
        </th>
        <th>
          Complete
        </th>
      </thead>
      <tbody>
          <% if params[:today] %>
            <% if @user.task_schedules.tasks_due_today.size == 0 %>
              <tr><td><strong>No task is due today</strong></td></tr>
            <% else %>
              <%= render @user.task_schedules.tasks_due_today %>
            <% end %>
          <% else %>
            <%= render @user.task_schedules %>
          <% end %>
      </tbody>
  </table>
</p>

<p>
  <strong>Tasks</strong>
  <table>
      <thead>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Complete
        </th>
        <th>
          Due Date
        </th>
      </thead>
      <tbody id="user_tasks">
          <%= render @user.tasks %>
      </tbody>
      </div>  
  </table>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
