<tr>
	<td>
		<%= task_schedule.id %>
	</td>
  <td>
    <%= task_schedule.name %>
  </td>
  <td>
    <%#= task_schedule.due_date %> 
    <%= format_time(task_schedule.due_date, task_schedule.user.time_zone) %> ( 
    <%= task_schedule.user.time_zone %>)
    <%#= format_time(task_schedule.due_date, 'Eastern Time (US & Canada)') %>
  </td>
  <td>
  	<button class="btn btn-default">Complete</button>
  	<%= link_to "complete" , '/', remote: true %>
  	<a class="btn btn-secondary" href="#" role="button">Complete</a>
  </td>
</tr>
