<tr>
	<td>
		<%= task_schedule.id %>
	</td>
  <td>
    <%= task_schedule.name %>
  </td>
  <td>
    <%#= task_schedule.due_date %> 
    <%= format_time(task_schedule.due_date, task_schedule.user.time_zone) %> ( 
    <%= task_schedule.user.time_zone %>)
    <%#= format_time(task_schedule.due_date, 'Eastern Time (US & Canada)') %>
  </td>
  <td>
  	<%= link_to "complete" , task_complete_path(id: task_schedule.id), remote: true ,class: "btn btn-primary"%>
  </td>
</tr>
